* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: rgb(9, 7, 16);
  color: rgb(213, 232, 238);
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todolist-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 760px;
  height: 10%;
  margin: 0 auto;
  background-image: url("../todolist.jpg");
  background-position: center;
  background-size: cover;  
  border-radius: 0px 10px 0px 10px;
  box-shadow: 1px 1px 1px 1px rgba(213, 232, 238, 0.9);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: cursive;
  color: rgb(255, 255, 255);
}

.container {
  width: 700px;
  margin: 0 auto;
}

#form_input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
  width: 100%;
}

#entry {
  height: 2%;
  width: 80%;
  font-size: 1rem;
  padding: 1rem;
  margin-right: 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(213, 232, 238, 0.9);
}

#entry-plus:hover {
  box-shadow: 0px 0px 17px 4px rgba(213, 232, 238, 0.95);
  border-radius: 5px;
}

#list {
  border: 2px solid rgb(213, 232, 238);
  border-radius: 10px;
  padding: 1rem 1rem 2rem 1rem;
}

.done > span {
  color: rgb(161, 149, 149);
  text-decoration: line-through;
  opacity: 80%;
}

li {
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 1.5rem;
}

li > * {
  padding: 0 20px;
}

li .checkbox {
  width: 20px;
  height: 20px;
}
